@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(14, 19, 31);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logo {
  margin: 0 auto;

  margin-top: 2px;
  margin-bottom: 8px;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.firstAnime,
.secondAnime {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttonContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.animeContainer {
  align-items: center;

  gap: 8px;
}

footer {
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
}
.finalScore {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1280px) {
  .animeImage {
    width: 400px;
    height: 550px !important;
  }
  .text-div {
    width: 400px;
  }
  .animeContainer {
    gap: 15px;
    padding: 20px;
  }
}
@media (min-width: 2560px) {
  .animeImage {
    width: 500px;
    height: 700px !important;
  }
  .animeContainer {
    gap: 15px;
    padding: 12rem;
  }
  .text-div {
    width: 500px !important;
  }
}
